.cupcake-title {
    font-family: 'Droid Sans', sans-serif;
    text-align: center;
}

.cupcake-container {
    font-family: 'Droid Serif', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.cupcake-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 70%;
    border: 2px solid black;
}

.cupcake-box img {
    display: flex;
    justify-content: center;
    width: 50%;
}
